* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.navbar {
    display:flex;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    top: 0px;
}


.menu {
    display: flex;
    justify-content:space-between;
    font-family: sans-serif;
    list-style: none;
    margin: 2rem;
    padding-left: 3rem;
    width: 20vw;
}

.contact {
    margin: 2rem;
    width: 20vw;
}

.mail {
    margin: 2rem;
}

.linkedin {
    margin-right: 2rem;
}


.title {
    text-align: center;
    font-family: sans-serif;
    margin-top: 1em;
    width: 20vw;
}

#title2 {
    text-align: center;
    display: block;
    font-weight: lighter;

}


.projects {
    display: flex; 
    padding: 0.5rem;    
}

.horses {
    width: 20vw;
    height: auto;
    flex: 50%;
    margin-right: 0.25rem
}

.cars {
    width: 20vw;
    height: auto;
    flex: 50%; 
    margin-left: 0.25rem;
} 



.foot {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.copyright {
    margin: 1em;    
}

.copyright2 {
    margin-left: 1em;
    
}

.photos {
    display: flex;
    padding: 0.5rem;
}

.about1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.myphoto {
    width: 20vw;
    margin: 0.5rem;
}

.myphoto1 {
    width: 20vw;
    margin: 0.5rem;
}

.myphoto2 {
    width: 20vw;
    margin: 0.5rem;
}

section {
    background-color: rgb(179, 177, 169);

}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }