* {
    font-family: 'Lucida Sans';
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    
}

.navbar {
    display: flex;
    z-index: 100;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 1.5rem;
    top: 0;
}


.menu {
    display: flex;
    justify-content:space-evenly;
    font-weight: bold;
    /* list-style: none; */
    margin-top: 2rem;
    width: 30vw;
}

#cv:visited {
    color: black;
}

#cv {
    text-decoration: none;
}

.menu:hover {
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content:space-evenly;
    width: 30vw;
    margin-top: 2rem;
}

.contactIcons {
    color: black;
}

.contactIcons:hover {
    cursor: pointer;
}

.title {
    text-align: center;
    margin-top: 1.5rem;
}

.title:hover {
    cursor: pointer;
}

#title2 {
    display: block;
    font-weight:lighter;
    color: rgb(92, 90, 90);
}

#title2:hover {
    cursor: pointer;
}


#s1{
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-between;
}


.projectLink {
    position: relative;
    width: 49.3vw;
    margin: 1px;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.projectLink:hover .overlay {
    opacity: 1;
  }
  
.projectTitle {
    color: white;
    font-size: 20px;
    text-align: center;  
    position: absolute;
    top: 50%;
    left: 35%; 
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.foot {
    display: flex;
    flex-flow: column;
    background-color: white;
    margin: 30px;
}

.copyright {
    text-align: center;
}

#s2 {
    display: flex;
}

.about1 {
    margin: 2rem;
    margin-bottom: 2rem;
}

.myphoto {
    flex-grow: inherit;
    width: 18vw;
    margin: 0.5rem;
    margin-top: 2rem;
}

.section {
    background-color: rgb(226, 220, 197);
}

#myBtn {
    position:fixed;
    display: none;
    z-index: 10;
    bottom: 50px;
    margin-top: 20px;
    line-height: 40px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
} 
button:hover {
    background: black;
    color: white;
  }